<div class="panel panel-default">
  <div class="panel-body">
    <div class="panel-title">
      <h3>Etoro <small> @etoro </small> <small> - 4h ago</small></h3>
      <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
    </div>
    <div class="panel-body-image text-center panel-body">
      <img src="assets/assets/images/ocean.jpg" alt="Ocean">
    </div>
    <div class="panel-footer text-center">
      <span class="fa fa-comment-o "></span> 36 &nbsp;&nbsp;&nbsp;
      <span class="fa fa-star"></span> 133 &nbsp;&nbsp;&nbsp;
      <span class="fa fa-retweet"></span> 240 &nbsp;&nbsp;&nbsp;
    </div>
  </div>
</div>
